.header {
    font-size: 0;
    margin: 40px 20px 0px;
  }

.header >*{
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}  

.navimg{
    max-width: 50px;
}

li{
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.bodyimg{
    max-width: 500px;
}

.icon{
    width: 15%;
}

.icon>img{
    width: 15%;
}


.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    font-family: sans-serif;
    height: 45px;
}

.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.actions>a{
    color: #67b54b;
}

.actions>button{
    color:white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.actions>*{
    margin-right: 10px;
    margin-left: 10px;
}

@import url("https://fonts.google.com/specimen/Shippori+Mincho+B1#standard-styles");

h1{
    color:  #025157;
    font-family: 'Shippori Mincho B1';
}

.promotion{
    color: #8b8b8bcc;
}

button{
    color: #fff;
    background-color: #025157;
}

body{
    background-color: #fffbf7;
}
