.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
  }

.header >*{
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}  

.navimg{
    max-width: 50px;
}

li{
    display: inline;
}

.bodyimg{
    max-width: 500px;
}

.icon{
    width: 15%;
}

.icon>img{
    width: 15%;
}


.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

h1{
    color:  #025157;
}

.promotion{
    color: #8b8b8bcc;
}

button{
    color: #fff;
    background-color: #025157;
}

body{
    background-color: #fffbf7;
}
